.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/src/public/img/default.jpg");
  z-index: 10000;
  /* background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); */

}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  color: #e3c08d;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
  margin-top: 10px;
}

